---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="https://github.com/kaluzaaa/clubhouse-calendar">Github</a>
            </li>
            <li>
                <a href="https://github.com/kaluzaaa/clubhouse-calendar/issues/new?assignees=&labels=&template=dodanie-spotkania.md&title=">Dodaj wpis</a>
            </li>
            <li>
                <a href="/feed.xml">RSS</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse</h1>
    </header>
    <section>
        <h2>Nadchodzące pokoje</h2>
        {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
        {% assign events_in_future=false %}
        {% assign events = site.data.events | sort: 'date' %}
        {% for event in events %}
        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
            {% if date > now %}
            {% assign events_in_future=true %}
            <article>
                <time datetime="{{ event.date }}">{{ event.date | date: "%F %X" }}</time>
                <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
                <div class="avatars"></div>
                {% for avatar in event.avatars %}
                <span class="avatar">
                    <img src="{{ avatar }}">
                </span>
                {% endfor %}
                </div>
                <div class="speakers">
                    {% for speaker in event.speakers %}
                    {{ speaker }}{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                </div>
                <p>{{ event.description }}</p>
            </article>
            {% endif %}
        {% endfor %}
        {% if events_in_future == false %}
        <h3>Na razie nie ma zaplanowanych😭 Może coś stworzysz?😎</h3>
        {% endif %}
    </section>
    <section>
        <h2>Pokoje, które się odbyły</h2>
        {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
        {% assign events = site.data.events | sort: 'date' | reverse %}
        {% for event in events %}
        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
            {% if date < now %}
            <article>
                <time datetime="{{ event.date }}">{{ event.date | date: "%F %X" }}</time>
                <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
                <div class="avatars"></div>
                {% for avatar in event.avatars %}
                <span class="avatar">
                    <img src="{{ avatar }}">
                </span>
                {% endfor %}
                </div>
                <div class="speakers">
                    {% for speaker in event.speakers %}
                    {{ speaker }}{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                </div>
                <p>{{ event.description }}</p>
            </article>
            {% endif %}
        {% endfor %}
    </section>
</body>

</html>