---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse</title>

    <meta content="Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse" property="og:title">
    <meta content="article" property="og:type">
    <meta content="Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse" property="og:description">
    <meta content="https://dev-radio.pl/" property="og:url">
    <meta content="https://dev-radio.pl/img/og-image.png" property="og:image">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- favicon -->

    <!-- Twitter card -->
    <meta name="twitter:creator" content="@kaluzaaa">
    <meta name="twitter:title" content="Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse">
    <meta name="twitter:description" content="Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://dev-radio.pl/img/og-image.png">
    <!-- Twitter card -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml"
        title="Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse"
        href="https://dev-radio.pl/feed.xml" />
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TSZM87S');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="https://github.com/kaluzaaa/clubhouse-calendar">Github</a>
            </li>
            <li>
                <a
                    href="https://github.com/kaluzaaa/clubhouse-calendar/issues/new?assignees=&labels=&template=dodanie-spotkania.md&title=">Dodaj
                    wpis</a>
            </li>
            <li>
                <a href="/feed.xml">RSS</a>
            </li>
            <li>
                <a href="https://dev-radio.pl/calendar.ics">Subskrybuj kalendarz‼️</a>
            </li>
            <li>
                <a href="https://medium.com/dev-radio-pl" target="_blank">Blog</a>
            </li>
        </ul>
    </nav>
    <header>
        <img alt="Logo Dev Radio PL" src="img/logo.png" height="125px">
        <h1>Kalendarz spotkań 🇵🇱Dev Radio PL i 🇵🇱 IT Tech Talk na 👋Clubhouse</h1>
    </header>
    <section>
        <h2>Nadchodzące pokoje</h2>
        {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
        {% assign events_in_future=false %}
        {% assign events = site.data.events | sort: 'date' %}
        {% for event in events %}
        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if date > now %}
        {% assign events_in_future=true %}
        <article>
            <time datetime="{{ event.date }}">{{ event.date | date: "%F %X" }}</time>
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
            <div class="avatars"></div>
            {% for avatar in event.avatars %}
            <span class="avatar">
                <img src="{{ avatar }}" alt="{{ event.speakers[forloop.index] }}">
            </span>
            {% endfor %}
            </div>
            <div class="speakers">
                {% for speaker in event.speakers %}
                {{ speaker }}{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            </div>
            <p>{{ event.description }}</p>
        </article>
        {% endif %}
        {% endfor %}
        {% if events_in_future == false %}
        <h3>Na razie nie ma zaplanowanych😭 Może coś stworzysz?😎</h3>
        {% endif %}
    </section>
    <section>
        <h2>Pokoje, które się odbyły</h2>
        {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
        {% assign events = site.data.events | sort: 'date' | reverse %}
        {% for event in events %}
        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if date < now %} <article>
            <time datetime="{{ event.date }}">{{ event.date | date: "%F %X" }}</time>
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
            <div class="avatars"></div>
            {% for avatar in event.avatars %}
            <span class="avatar">
                <img src="{{ avatar }}">
            </span>
            {% endfor %}
            </div>
            <div class="speakers">
                {% for speaker in event.speakers %}
                {{ speaker }}{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            </div>
            <p>{{ event.description }}</p>
            </article>
            {% endif %}
            {% endfor %}
    </section>
    <footer>
        <p>Strona dostarczona dla was z 💘 przez
            {% for contributor in site.github.contributors %}
            <a href="{{ contributor.html_url }}">{{ contributor.login }}</a>{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        </p>
    </footer>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSZM87S" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

</html>
